@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Comic+Neue:wght@700&family=Cookie&family=Lato:wght@300&display=swap');
.App {
  text-align: center;
font-family: 'Bree Serif', serif;
}
.heading {
  padding: 20px;
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Cookie', cursive;
}
p {
    font-family: 'Lato', sans-serif;
}

td {
    font-family: 'Lato', sans-serif;
}
h6.total_numbr {
  padding: 20px;
  height: 100px;
}
.btn-text {
  display: block;
  font-family: "Crushed", cursive;
}
.single {
  border: 1px solid;
  margin: 10px 0px;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}
.text-center {
  text-align: center;
}

.display-flex {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
}

.coustom-container {
  width: 90%;
  margin: 0 auto;
}

.card {
  min-height: 400px;
}

img.activator {
  height: 320px;
  border: 2px solid;
}
td,
th {
  padding: 8px 3px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}
h6 {
  margin: 20px 0px;
}
.total_numbr > h6 {
  font-size: 25px;
  margin: 0px;
  padding-top: 17px;
}

.total_numbr {
  padding: 10px;
}
span.per {
  font-size: 15px;
  margin-left: 5px;
}
